<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".DebugCommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="io.homoscale.android.debug.WRITE_CONFIG" />
                <action android:name="io.homoscale.android.debug.START_SERVICE" />
                <action android:name="io.homoscale.android.debug.STOP_SERVICE" />
                <action android:name="io.homoscale.android.debug.STATUS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
